# python
__pycache__/
*.pyc
.venv/
.env
.envrc
# data & artifacts
data/*
!data/.gitkeep
artifacts/*
!artifacts/.gitkeep

!artifacts/explanations
!artifacts/layers
!artifacts/metrics

# notebooks
.ipynb_checkpoints/

# hf caches
.cache/
huggingface/

# Other
requirements_local.txt